*{
    margin: 0px;
    padding: 0ps;
}
body{
    background-color: aquamarine;
    text-align: center;
}
h1{
    font-size: 10vmin;
    font-weight: 600;
    color: rgb(192, 35, 74);
}

.container{
    
    height: 70vh;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    border: 2px solid black;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,01);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
.box:hover{
    background-color: #6f6f35;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#reset-btn:hover{
    background-color: rgb(171, 115, 17);
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn:hover{
    background-color: rgb(171, 115, 17);
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem

}
.hide{
    display: none;
}